{% extends "base.html" %}

{% block head %}
    <title>Pokemon Database 1.0</title>
{% endblock %}

{% block body %}
    <div class="content">

        <h1>!!! A big fat juicy custom fancy pokemon database !!!</h1>
        
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Type</th>
                <th>Base HP</th>
                <th>Base ATK</th>
                <th>Evolution stage</th>
            </tr>
            <tr>
                <td>Pikachu</td>
                <td>1</td>
                <td>electric</td>
                <td>60</td>
                <td>20</td>
                <td>basic</td>
            </tr>
        </table>
        
        <form action="">
            <input type="text" name="Name" id="p_name">
            <input type="text" name="Type" id="p_type">
            <input type="text" name="Base HP" id="p_hp">
            <input type="text" name="Base ATK" id="p_atk">
            <input type="text" name="Evolution stage" id="p_evolution">
            <input type="submit" value="Add Pokemon" id="btn_add">
        </form>

    </div>
{% endblock %}